@page
@model BulletJournal.Web.Pages.Journal.Journal.CreateModel

<section class="page-frame">
    <h3>Novo Diário</h3>

    <div class="form-container">
        <form method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Journal.Name"></label>
                </div>
                <div class="col">
                    <input type="text" asp-for="Journal.Name" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="Journal.Name"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Journal.Year"></label>
                </div>
                <div class="col">
                    <input type="text" asp-for="Journal.Year" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="Journal.Year"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Journal.Description"></label>
                </div>
                <div class="col">
                    <input type="text" asp-for="Journal.Description" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="Journal.Description"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <input type="submit" value="Verify" class="btn btn-primary" />
                </div>
                <div class="col">
                    @* <input type="hidden" asp-for="ViewModel.Key" />
                    <input type="hidden" asp-for="ViewModel.QRCodeBytes" />*@
                </div>
            </div>
        </form>
    </div>
</section>
