@using BulletJournal.Web.ViewModels;
@model LogViewModel

@if (Model.Log != null)
{
    <div class="log">
        @if (!string.IsNullOrEmpty(Model.Log.Name))
        {
            <h4 class="log-name">@Model.Log.Name</h4>
        }

        @if (Model.Log.Bullets != null)
        {
            <ol class="log-bullets">

                @foreach (var bullet in Model.Log.Bullets)
                {
                    <li class="log-bullet">
                        <vc:bullet bullet="bullet.Value"></vc:bullet>
                    </li>
                }


            </ol>
        }

    </div>
}
else
{
    <h5 class="text-danger">Log inválido</h5>
}
