@{
    Layout = "_Layout";
}

@section Styles {

    <link href="~/css/components/journal/styles.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components/collection/styles.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components/bullet/styles.css" rel="stylesheet" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
}


<div class="journal-container d-flex flex-column flex-fill">
    @RenderBody()
</div>

@section Scripts {

    <script src="~/js/journal/journal.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
}
