@{
    Layout = "_Layout";
}

@section Styles {

    <link href="~/css/journal/journal.css" rel="stylesheet" />
    <link href="~/css/journal/page.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
}


<div class="journal-container">
    @RenderBody()
</div>

@section Scripts {

    <script src="~/js/journal/journal.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
}
