@page
@using BulletJournal.Web.ViewModels;
@model BulletJournal.Web.Pages.Journal.IndexModel

@section Styles {
    <link href="~/css/journal/index.css" rel="stylesheet" />
}

<div>
    <h3>Journal Index</h3>
</div>

<vc:journal journal="@Model.Journal"></vc:journal>


@section Scripts {
    <script src="~/js/journal/index.js"></script>
}