@using BulletJournal.Models.Collection;
@using BulletJournal.Web.ViewModels;
@using BulletJournal.Web.ViewModels.Collection;

@model CollectionViewModel

@if (Model.Collection != null)
{
    switch (Model.Collection)
    {
        case FutureLog futureLog:
            await Html.RenderPartialAsync("_FutureLog.cshtml", new FutureLogViewModel { FutureLog = futureLog });
            break;

        case DailyLog dailyLog:
            await Html.RenderPartialAsync("_DailyLog.cshtml", new DailyLogViewModel { DailyLog = dailyLog });
            break;

        case MonthlyLog monthlyLog:
            await Html.RenderPartialAsync("_MonthlyLog.cshtml", new MonthlyLogViewModel { MonthlyLog = monthlyLog });
            break;

        default:
            <h5 class="text-danger">Não foi possível identificar o tipo de Collection para renderização</h5>
            break;
    }

}
else
{
    <h5 class="text-danger">Collection inválida</h5>
}