@using BulletJournal.Web.ViewModels;
@model JournalViewModel

@if (Model.Journal != null)
{
    <main class="journal">
        <div class="journal-information jumbotron bg-dark text-light">
            <h3 class="journal-name">@Model.Journal.Name</h3>
            <p class="journal-description">@Model.Journal.Description</p>
            <hr />
            <h4 class="journal-year">@Model.Journal.Year</h4>
        </div>

        <div class="spread-container">

            @{
                var spreadViewModel = new SpreadViewModel
                {
                    LeftPage = new BulletJournal.Models.Page
                    {
                        Title = "Test Left Page"
                    },
                    RightPage = new BulletJournal.Models.Page
                    {
                        Title = "Test Right Page"
                    }
                };
            }

            <partial name="Journal/_Spread" model="spreadViewModel" />

        </div>
    </main>
}
else
{
    <p>
        <h4 class="text-info">Opa, parece que você não possui nenhum diário criado.</h4>
        <a asp-page="/Journal/Journal/Create" class="link-primary">Clique aqui para criar um novo diário</a>
    </p>
}